body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bree Serif';
}
.app-container {
  background-image: url('https://images.pexels.com/photos/11164487/pexels-photo-11164487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 20px 10px 5px grey;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.519);
  border-radius: 17px;
  -webkit-box-shadow: 0 4px 8px rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  padding: 20px;
}
.brand-bg-container {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Bree Serif';
  border-radius: 16px;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.759);
  margin-bottom: 30px;
}
.main-heading-title {
  color: #f0f8ff;
  font-family: 'Bree Serif';
  padding: 15px;
  letter-spacing: 0.05cm;
}
.brand-icon {
  margin-top: 20px;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  border-radius: 10px;
}
.developer {
  color: #f0f8ff;
  background-color: rgba(0, 0, 0, 0.622);
  padding: 15px;
  text-decoration: none;
  font-family: 'Bree Serif';
  font-size: 25px;
  border-radius: 10px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  .main-heading-title {
    font-size: 20px;
  }
  .brand-icon {
    width: 50px;
    height: 50px;
  }
  .developer {
    font-size: 20px;
    padding: 10px;
  }
}
.blog-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 18px;
  font-size: 1rem;
  padding: 25px;
  font-size: 20px;
  color: #fff;
}
.blog-list,
.blog-post-card {
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.574);
  border-radius: 18px;
}
.blog-post-card {
  border: 1px solid #ddd;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  width: 850px;
}
.blog-post-card,
.main-title {
  font-family: 'Bree Serif';
}
.blog-post-card:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blog-post-card h2 {
  margin: 0;
  color: #fff;
}
.blog-post-card p {
  color: #fff;
  margin: 5px 0;
}
.blog-post-card small {
  color: #fff;
}
.main-title {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.766);
  padding: 20px;
  font-size: 35px;
  font-family: 'Bree Serif';
  letter-spacing: 0.05cm;
  border-radius: 27px;
}
@media (max-width: 768px) {
  .blog-list {
    padding: 10px;
  }
  .blog-post-card {
    width: 70%;
  }
  .main-title {
    font-size: 20px;
    padding: 10px;
  }
  .blog-post-card h2 {
    font-size: 22px;
  }
  .blog-post-card p {
    font-size: 16px;
  }
  .blog-post-card small {
    font-size: 14px;
  }
}
.blog-post-container {
  margin: 20px;
  padding: 30px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.862);
}
.blog-post-container h1 {
  margin: 0;
  color: #fff;
}
.blog-post-container p {
  color: #fff;
  margin: 10px 0;
}
.blog-post-container small {
  color: #fff;
}
.buttons-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.blog-post-container button {
  margin: 10px 5px 0 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Bree Serif';
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-shadow: black;
  color: #000;
}
.blog-post-container button,
.blog-post-container button:hover {
  color: rgba(0, 0, 0, 0.382);
  background-color: #fff;
}
.post-content {
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.6;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}
@media (max-width: 768px) {
  .blog-post-container {
    padding: 20px;
    margin: 10px;
  }
  .blog-post-container h1 {
    font-size: 24px;
  }
  .blog-post-container p,
  .blog-post-container small {
    font-size: 16px;
  }
  .buttons-container {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .blog-post-container button {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
  }
  .post-content {
    font-size: 14px;
  }
}
.blog-form-container {
  margin: 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  font-family: 'Bree Serif';
}
.main-heading {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.93);
  padding: 19px;
  border-radius: 20px;
}
.blog-form-container button {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.blog-form-container button,
.blog-form-container button:hover {
  padding: 15px;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  font-family: 'Bree Serif';
}
.inputs-style {
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: 9px;
  font-size: 1rem;
  padding: 25px;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.848);
  width: 850px;
}
@media (max-width: 768px) {
  .blog-form-container {
    margin: 10px 0;
    padding: 15px;
  }
  .inputs-style {
    width: 100%;
    font-size: 18px;
    padding: 15px;
  }
  .blog-form-container button {
    font-size: 18px;
    padding: 10px;
  }
}
